@using Pipelines.Data.Models
<!DOCTYPE html>
<html lang="en">
<head>
    <title>@ViewBag.Title</title>


    <link href="~/Public/styles/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Public/styles/bootstrap-theme.min.css" rel="stylesheet" />
    <link href="~/Public/styles/bootstrap-editable.min.css" rel="stylesheet" />
    <link href="~/Public/styles/pipelines.min.css" rel="stylesheet" />
    <link href="~/Public/styles/bootstrap-tagsinput.min.css" rel="stylesheet" />
    <link href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet">

    <script src="~/Public/js/jquery-2.0.3.min.js"></script>
    <script src="~/Public/js/jquery.signalR-1.1.3.min.js"></script>
    <script src="/signalr/hubs"></script>
    <script src="~/Public/js/bootstrap.min.js"></script>
    <script src="~/Public/js/bootstrap-editable.min.js"></script>
    <script src="~/Public/js/jquery-ui.min.js"></script>
    <script src="~/Public/js/pipelines.min.js"></script>
    <script src="~/Public/js/bootstrap-tagsinput.min.js"></script>

    <meta name="description" content="Pipelines Is a Project Management System" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
</head>
<body>
    @RenderBody()
</body>
</html>
